page-dynamic-card {

	.padding-col{
		padding: 2px;
	}

	.one-image{
		margin: 2px;
	}

	.background-page {
		background-color: #2d96de;
	}

	.gradient {
        background-image: url("../../assets/imgs/gradient.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
    }

	.card-background-page {
			position: relative;
			text-align: center;
	}
	
	.card-background-page .card-title {
			position: absolute;
			top: 36%;
			font-size: 2.0em;
			width: 100%;
			font-weight: bold;
			color: #fff;
	}
	
	.card-background-page .card-subtitle {
			font-size: 1.0em;
			position: absolute;
			top: 52%;
			width: 100%;
			color: #fff;
	}


	@media (min-width:0px){
		.image-height-1{
			background-size: cover;
			min-height: 200px;
		}
		.image-height-2{
			background-size: cover;
			min-height: 150px;
		}
		.image-height-3{
			background-size: cover;
			min-height: 100px;
		}
	}
	@media (min-width:420px){
		.image-height-2{
			background-size: cover;
			min-height: 175px;
		}
	}
	@media (min-width:720px){
		.image-height-2{
			background-size: cover;
			min-height: 200px;
		}
	}	
	
}
