<ion-header>
        <ion-navbar>
                <ion-buttons *ngIf="!isSearch && dynamicCards?.search_bar" start>
                        <button ion-button icon-only color="royal" (click)="goSearch()">
                            <ion-icon name="search"></ion-icon>
                        </button>
                    </ion-buttons>
            
                    <ion-buttons end *ngFor="let btn of dynamicCards?.buttons">
                        <button ion-button icon-only color="{{btn.color}}" (click)="onClick(btn)">
                            <ion-icon name="{{btn.icon}}"></ion-icon>
                        </button>
                    </ion-buttons>
            
                    <ion-searchbar *ngIf="isSearch && dynamicCards?.search_bar" placeholder="{{dynamicCards?.search_bar.hint}}" [(ngModel)]="searchString"
                        [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (keyup.enter)="searchEnter()"
                        (keyup.esc)="searchEnter()" start>
                    </ion-searchbar>
            
                    <ion-title *ngIf="!isSearch">{{dynamicCards?.title}}</ion-title>
        </ion-navbar>
    </ion-header>
    
    <ion-content no-padding class="background-page gradient">
    
        <ion-grid no-padding>
            <ion-row>
                <ion-col col-12 offset-xl-3 col-xl-6 offset-lg-3 col-lg-6 offset-md-2 col-md-8 col-sm-12>
                    <!-- Card mô tả hình ảnh nỗi bật với các nội dung liên quan -->
                    <ion-card class="background-card gradient grid-border">
                        <ion-item class="background-card gradient grid-border">
                            <ion-icon item-start name="contact" color="primary"></ion-icon>
                            <!-- <ion-avatar item-start><img src="assets/imgs/img_forest.jpg"></ion-avatar> -->
                            <h2> H1 Group</h2>
                            <h2> H2 Nick name</h2>
                            <h3> H3 Nội dung xem xét hình ảnh</h3>
                            <p> P Nội dung tóm lượt</p>
                            <ion-note item-end>12h ago</ion-note>
                            <button item-end icon-only ion-button clear small color="primary">
                                <ion-icon name='more'></ion-icon>
                            </button>
                        </ion-item>
    
                        <!-- 5+ pics -->
                        <ion-row>
                            <ion-col no-padding class="padding-col" col-6>
                                <div class="image-height-2" [style.background-image]="'url(assets/imgs/img_forest.jpg)'"></div>
                            </ion-col>
                            <ion-col no-padding class="padding-col" col-6>
                                <div class="image-height-2" [style.background-image]="'url(assets/imgs/anh_vua.png)'"></div>
                            </ion-col>
                            <ion-col no-padding class="padding-col" col-4>
                                <div class="image-height-3" [style.background-image]="'url(assets/imgs/ca_nau.jpg)'"></div>
                            </ion-col>
                            <ion-col no-padding class="padding-col" col-4>
                                <div class="image-height-3" [style.background-image]="'url(assets/imgs/ca_the.jpg)'"></div>
                            </ion-col>
                            <ion-col no-padding class="padding-col card-background-page" col-4>
                                <div class="image-height-3" [style.background-image]="'url(assets/imgs/img_forest.jpg)'"></div>
                                <div class="card-title">12+</div>
                            </ion-col>
                        </ion-row>
    
                        <!-- 1 pics -->
                        <div class="one-image card-background-page">
                            <img src="assets/imgs/img_forest.jpg" />
                            <div class="card-title">Ảnh background</div>
                            <div class="card-subtitle">Tác giả Đoàn Quốc Cường</div>
                        </div>
    
                        <!-- 2 pics -->
                        <ion-row>
                            <ion-col no-padding col-6>
                                <div class="image-height-2" [style.background-image]="'url(assets/imgs/anh_vua.png)'"></div>
                            </ion-col>
                            <ion-col no-padding col-6>
                                <div class="image-height-2" [style.background-image]="'url(assets/imgs/img_forest.jpg)'"></div>
                            </ion-col>
                        </ion-row>
    
                        <!-- 3 pics -->
                        <ion-row>
                            <ion-col no-padding class="padding-col" col-12 col-md-4 col-xl-4>
                                <div class="image-height-1" [style.background-image]="'url(assets/imgs/img_forest.jpg)'"></div>
                            </ion-col>
                            <ion-col no-padding class="padding-col" col-6 col-md-4 col-xl-4>
                                <div class="image-height-2" [style.background-image]="'url(assets/imgs/ca_nau.jpg)'"></div>
                            </ion-col>
                            <ion-col no-padding class="padding-col" col-6 col-md-4 col-xl-4>
                                <div class="image-height-2" [style.background-image]="'url(assets/imgs/img_forest.jpg)'"></div>
                            </ion-col>
                        </ion-row>
    
                        <!-- 4 pics -->
                        <ion-row>
                            <ion-col no-padding class="padding-col" col-6 col-md-6 col-xl-3>
                                <div class="image-height-2" [style.background-image]="'url(assets/imgs/img_forest.jpg)'"></div>
                            </ion-col>
                            <ion-col no-padding class="padding-col" col-6 col-md-6 col-xl-3>
                                <div class="image-height-2" [style.background-image]="'url(assets/imgs/ca_nau.jpg)'"></div>
                            </ion-col>
                            <ion-col no-padding class="padding-col" col-6 col-md-6 col-xl-3>
                                <div class="image-height-2" [style.background-image]="'url(assets/imgs/anh_vua.png)'"></div>
                            </ion-col>
                            <ion-col no-padding class="padding-col" col-6 col-md-6 col-xl-3>
                                <div class="image-height-2" [style.background-image]="'url(assets/imgs/img_forest.jpg)'"></div>
                            </ion-col>
                        </ion-row>
                        
                        <ion-card-content>
                            <ion-card-title>
                                Title Nine Inch Nails Live
                            </ion-card-title>
                            <h1>H1 đây nè</h1>
                            <h2>H2 đây nè</h2>
                            <h3>H3 đây nè</h3>
                            <p style="text-align: justify;">
                                P Đoạn văn <br>
                                mages often vary in size, so it is important that they adopt a consistent style throughout
                                your app.
                            </p>
                            <img src="assets/imgs/img_forest.jpg" />
                            <p style="text-align: justify;">
                                P Đoạn văn 2 <br>
                                mages often vary in size, so it is important that they adopt a consistent style throughout
                                your app.
                            </p>
                            <div class="card-background-page">
                                <img src="assets/imgs/img_forest.jpg" />
                                <div class="card-title">Ảnh background</div>
                                <div class="card-subtitle">Tác giả Đoàn Quốc Cường</div>
                            </div>
                            <p style="text-align: justify;">
                                P Đoạn văn 3 <br>
                                mages often vary in size, so it is important that they adopt a consistent style throughout
                                your app.
                            </p>
                            <ion-note>Tác giả ghi chú</ion-note>
                        </ion-card-content>
                        <ion-row no-padding>
                            <ion-col align-self-center text-center>
                                <ion-icon color="primary" icon-start clear small name="thumbs-up"></ion-icon>
                                <ion-icon color="danger" icon-start clear small name="heart"></ion-icon>
                                <ion-icon color="dark" icon-start clear small name="thumbs-down"></ion-icon>
                                <ion-icon color="royal" icon-start clear small name="sad"></ion-icon>
                                <ion-icon color="angery" icon-start clear small name="ios-sad"></ion-icon>
                                <ion-note>12</ion-note>
                            </ion-col>
                            <ion-col align-self-center text-center>
                                <ion-note>4 Comments</ion-note>
                            </ion-col>
                            <ion-col align-self-center text-center>
                                <ion-note>2 Shares</ion-note>
                            </ion-col>
                        </ion-row>
                        <ion-row no-padding>
                            <ion-col text-center>
                                <button ion-button clear small color="primary" icon-start>
                                    <ion-icon name='thumbs-up'></ion-icon>
                                    Like
                                </button>
                            </ion-col>
                            <ion-col text-center>
                                <button ion-button clear small color="primary" icon-start>
                                    <ion-icon name='chatbubbles'></ion-icon>
                                    Comment
                                </button>
                            </ion-col>
                            <ion-col text-center>
                                <button ion-button clear small color="primary" icon-start>
                                    <ion-icon name='share-alt'></ion-icon>
                                    Share
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
    
            </ion-row>
    
        </ion-grid>
    
    </ion-content>