<ion-header>
  <ion-navbar>
    <ion-item>

      <ion-searchbar item-start placeholder="Tìm để lọc biểu tượng" (ionInput)="searchIcons($event)" (ionClear)="resetFilter($event)"></ion-searchbar>
      <ion-select item-end [(ngModel)]="iconType">
          <ion-option *ngFor="let type of iconTypeList" value="{{type.value}}">{{type.name}}</ion-option>
      </ion-select>

    </ion-item>

    </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="iconType==iconTypes.icon">
    <ion-icon *ngFor="let icon of icons" (click)="selectIcon(icon)" name={{icon}} color="primary"></ion-icon>
  </ion-list>
      
  <ion-list *ngIf="iconType==iconTypes.list">
    <ion-item *ngFor="let icon of icons" (click)="selectIcon(icon)">
        <ion-icon name={{icon}} item-start></ion-icon>
        <ion-label>{{icon}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="iconType==iconTypes.avatar">
      <ion-grid>
          <ion-row *ngFor="let icon of icons" (click)="selectIcon(icon)">
            <ion-col>
              <ion-avatar item-start>
                <ion-icon name={{icon}} item-start></ion-icon>
              </ion-avatar>
              <h1>{{icon}}</h1>
              <h2>Finn</h2>
              <h3>Don't Know What To Do!</h3>
              <p>I've had a pretty messed up day. If we just...</p>
            </ion-col>
          </ion-row>  
      </ion-grid>
  </ion-list>

  <ion-list *ngIf="iconType==iconTypes.button">
    <button ion-button type="button" round *ngFor="let icon of icons" (click)="selectIcon(icon)" color="primary">
      <ion-icon name={{icon}}></ion-icon>
    </button>
  </ion-list>

</ion-content>