page-chatting {
    ion-icon {
        font-size: 30px; //Preferred size here
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    }
    ion-buttons{
        margin: auto;
        flex-basis: 50px;
    }
    ion-searchbar{
        border-radius: 2em !important;
		opacity: 0.7;
        font-size: 0.9em;
        width: 100%;
    }
}