page-config {
    .item-settings {
        color: #9c2626;
        margin-bottom: 1px;
        font-size: 2rem;
        cursor: pointer;
        background-color:  #abd6c8
     }
    .item-settings:hover {
        background-color:  #2289a8
     }
     
}