.background-transparent{
    background-color: transparent;
    color:#e5e8f1f6;
}

.toast-container{
    background-color: #556cd69c;
}








.avataUser{
    min-height: 50px !important;
    width: 50px !important;
    background-size: cover;
    margin: 0px !important;
    padding: 0px !important;
}

.menu-avatar img{
    width: 100% !important;
    height: 100% !important;
}

.usernameItem{
    padding: 0 2px !important ;
}
  