<ion-header *ngIf="dynamicForm.title">
	<ion-navbar>
		<ion-title>{{dynamicForm.title}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content no-padding class="background-page gradient">
	
	<ion-grid> 
		<ion-row>
			<ion-col class="background-card gradient grid-border" text-center col-12 offset-xl-3 col-xl-6 offset-lg-3 col-lg-6
			 offset-md-2 col-md-8 col-sm-12>

				<ion-list *ngFor="let it of dynamicForm.items">

					<!-- title -->
					<ion-item class="background-card" *ngIf="it.type == 'title'">
						<ion-label class="title-item">{{it.name}}</ion-label>
					</ion-item>

					<!-- form chi tiet -->
					<ion-list class="input-item" *ngIf="it.type == 'details'">
						<ion-item *ngFor="let dt of it.details">
							<strong item-start>
								{{dt.name}}
							</strong>
							<ion-label text-wrap item-end *ngIf="dt.pipe_date">
								{{dt.value | date:dt.pipe_date}}
							</ion-label>
							<ion-label text-wrap item-end *ngIf="!dt.pipe_date">
								{{dt.value}}
							</ion-label>
						</ion-item>
					</ion-list>

					<!-- title with avatar -->
					<ion-item class="background-card" *ngIf="it.type == 'avatar'">
						<ion-avatar item-start><img [src]="it.url"></ion-avatar>
						<h1 item-left class="title-item">{{it.name}}</h1>
					</ion-item>

					<!-- image -->
					<ion-grid *ngIf="it.type == 'image'">
						<ion-row>
							<ion-col style="text-align: center;">
								<img *ngIf="!it.width||!it.height" [src]="it.url">
								<img *ngIf="it.width&&it.height" [width]="it.width" [height]="it.height" [src]="it.url">
							</ion-col>
						</ion-row>
					</ion-grid>

					<!-- input text -->
					<ion-item class="input-item" *ngIf="it.type == 'text'">
						<ion-label floating color="danger" *ngIf="it.invalid">{{it.hint}}(*)</ion-label>
						<ion-icon item-left name="{{it.icon}}" *ngIf="it.icon"></ion-icon>
						<ion-input type="{{it.input_type}}" placeholder={{it.name?it.name:it.hint}} [(ngModel)]="it.value"></ion-input>
					</ion-item>

					<!-- input text-area -->
					<ion-item class="input-item" *ngIf="it.type == 'text_area'">
						<ion-label floating color="danger" *ngIf="it.invalid">{{it.hint}}(*)</ion-label>
						<ion-icon item-left name="{{it.icon}}" *ngIf="it.icon"></ion-icon>
						<ion-textarea rows="6" cols="20" placeholder={{it.name?it.name:it.hint}} [(ngModel)]="it.value"></ion-textarea>
					</ion-item>

					<!-- input password -->
					<ion-item class="input-item" *ngIf="it.type == 'password'">
						<ion-label floating color="danger" *ngIf="it.invalid">{{it.hint}}(*)</ion-label>
						<ion-icon item-left name="{{it.icon}}" *ngIf="it.icon"></ion-icon>
						<ion-input [type]="password_type" placeholder={{it.name?it.name:it.hint}} [(ngModel)]="it.value"></ion-input>
						<button ion-button clear color="dark" type="button" item-right (click)="togglePasswordMode()">
							<ion-icon name="{{eye}}"> </ion-icon>
						</button>
					</ion-item>

					<!-- check box -->
					<ion-item class="input-item" *ngIf="it.type == 'check'">
						<ion-label color="primary">{{it.name?it.name:it.hint}}</ion-label>
						<ion-checkbox color="primary" [(ngModel)]="it.value"></ion-checkbox>
					</ion-item>

					<!-- radio select -->
					<ion-list *ngIf="it.type == 'radio'" radio-group [(ngModel)]="it.value">
						<ion-list-header>
							<ion-icon item-start name="{{it.icon}}"></ion-icon>
							<ion-label color="dark">{{it.name?it.name:it.hint}}</ion-label>
						</ion-list-header>
						<ion-item *ngFor="let myRad of it.options">
							<ion-label color="secondary">{{myRad.name}}</ion-label>
							<ion-radio value="{{myRad.value}}"></ion-radio>
						</ion-item>
					</ion-list>

					<!-- single select -->
					<ion-item class="input-item" *ngIf="it.type == 'select'">
						<ion-label color="primary">{{it.name?it.name:it.hint}}</ion-label>
						<ion-select [(ngModel)]="it.value">
							<ion-option *ngFor="let mySet of it.options" value="{{mySet.value}}">{{mySet.name}}</ion-option>
						</ion-select>
					</ion-item>

					<!-- multiple select -->
					<ion-item class="input-item" *ngIf="it.type == 'select_multiple'">
						<ion-label color="primary">{{it.name?it.name:it.hint}}</ion-label>
						<ion-select [(ngModel)]="it.value" multiple="true">
							<ion-option *ngFor="let mySet of it.options" value="{{mySet.value}}">{{mySet.name}}</ion-option>
						</ion-select>
					</ion-item>

					<!-- toggle check -->
					<ion-item class="input-item" *ngIf="it.type == 'toggle'">
						<ion-icon name="{{it.icon}}" item-start color="primary"></ion-icon>
						<ion-label color="primary">{{it.name?it.name:it.hint}}</ion-label>
						<ion-toggle color="secondary" [(ngModel)]="it.value"></ion-toggle>
					</ion-item>

					<!-- range adjust -->
					<ion-item class="input-item" *ngIf="it.type == 'range'">
						<ion-range min="{{it.min}}" max="{{it.max}}" pin="true" [(ngModel)]="it.value" color="primary">
							<ion-icon range-left small name="contrast"></ion-icon>
							<ion-icon range-right name="contrast"></ion-icon>
						</ion-range>
					</ion-item>

					<!-- date time-->
					<ion-item class="input-item" *ngIf="it.type == 'datetime'">
						<ion-label color="danger" *ngIf="it.invalid">{{it.hint}}(*)</ion-label>
						<ion-label *ngIf="!it.invalid">{{it.name}}</ion-label>
						<ion-datetime displayFormat="{{it.display}}" pickerFormat="{{it.picker}}" [(ngModel)]="it.value"></ion-datetime>
					</ion-item>

					<!-- button action -->
					<ion-grid *ngIf="it.type == 'button'">
						<ion-row>
							<ion-col *ngFor="let myBtn of it.options" style="text-align: center;">
								<button class="button-item" [(ngStyle)]="pageContent" ion-button round (click)="onClick(myBtn)">
									{{myBtn.name}}
								</button>
							</ion-col>
						</ion-row>
					</ion-grid>

				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>